# Copy this file to .env and fill in your keys
ANTHROPIC_API_KEY=sk-your-anthropic-key-here
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
GITHUB_TOKEN=ghp_your_github_token_here
GITHUB_REPO=https://github.com/kalana3029/-AiNativeselfhealdevops-aiops
GCP_PROJECT_ID=project-eb698dab-7783-49ba-a73
